extends layout

block content
  h1= title
  p Welcome to #{title}
  p#userName

  h2 Your objects
  a(href='/panel/instance/view?ip=0000:0000:0001:0000:0000:0000:0000:000f', title='')
      .instance(style='width: 190px;')
        img(src='https://panel.bus-it.com/bi/images/objects/0000:0000:0001.png', alt='')
        div
          span.title Mailer
          br
          span Mailer
    a(href='/panel/instance/view?ip=0000:0000:0001:0000:0000:0000:0000:0010', title='')
      .instance(style='width: 190px;')
        img(src='https://panel.bus-it.com/bi/images/objects/0000:0000:0001.png', alt='')
        div
          span.title Mailer
          br
          span Mailer
    a(href='/panel/instance/view?ip=0000:0000:0001:0000:0000:0000:0000:0011', title='')
      .instance(style='width: 190px;')
        img(src='https://panel.bus-it.com/bi/images/objects/0000:0000:0001.png', alt='')
        div
          span.title Mailer
          br
          span Mailer
    a(href='/panel/instance/view?ip=0000:0000:0003:0000:0000:0000:0000:0004', title='')
      .instance(style='width: 190px;')
        img(src='https://panel.bus-it.com/bi/images/objects/0000:0000:0003.png', alt='')
        div
          span.title Twitter
          br
          span Twitter

  #message
